@import "main";

.header {
}
.header__container {
  display: flex;
}

.header__container__logo {
}
.sitenav {
}
.sitenav__list {
}
.sitenav__item {
}
.sitenav__link {
}
.container__box {
  display: flex;
  margin-left: auto;
}
.container__box__number {
}
.container__box__image {
}
.container__box__reg {
}
